-animlib==0.2.0
-raphviz==0.14.2
-umpy==1.22.3
absl-py==1.0.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
ansi2html==1.6.0
appdirs==1.4.4
argh==0.26.2
argparse==1.4.0
arviz==0.11.2
asn1crypto==1.3.0
astroid==2.4.2
astropy==4.0.1.post1
astunparse==1.6.3
atomicwrites==1.4.0
attrs==19.3.0
audioread==2.1.9
autograd==1.3
autopep8==1.5.3
babel==2.8.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.9.1
bitarray==1.4.0
bkcharts==0.2
bleach==3.1.5
bokeh==2.4.3
boto==2.49.0
bottleneck==1.3.2
braindecode==0.6
branca==0.4.2
brotli==1.0.9
brotlipy==0.7.0
cachetools==4.1.1
capstone==5.0.0rc2
certifi==2022.9.14
cffi==1.14.0
cftime==1.5.1.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.5.0
clyent==1.2.2
colorama==0.4.3
colorcet==3.0.1
colored-traceback==0.3.0
colour==0.1.5
commonmark==0.9.1
comtypes==1.1.7
conda-build==3.22.0
conda-package-handling==1.7.2
conda-verify==3.4.2
conda==4.14.0
contextlib2==0.6.0.post1
coverage==5.5
cryptography==2.9.2
cuda==0.0.1
cvxpy==1.1.17
cycler==0.10.0
cython==0.29.21
cytoolz==0.10.1
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dash==1.20.0
dask==2.20.0
datashader==0.14.2
datashape==0.5.2
decorator==4.4.2
deep-daze==0.8.1
defusedxml==0.6.0
delayed==0.11.0b1
diff-match-patch==20200713
dill==0.3.2
distributed==2.20.0
dn3==0.0.1
docker-pycreds==0.4.0
docutils==0.16
ecos==2.0.7.post1
einops==0.3.0
entrypoints==0.3
et-xmlfile==1.0.1
fa2==0.3.5
fastcache==1.1.0
filelock==3.0.12
fire==0.4.0
flake8==3.8.3
flask-compress==1.9.0
flask==1.1.2
flatbuffers==2.0.7
folium==0.12.1
fsspec==0.7.4
ftfy==5.9
future==0.18.2
gast==0.4.0
geojson==2.5.0
gevent==20.6.2
gitdb==4.0.9
gitpython==3.1.27
glcontext==2.3.4
glob2==0.7
gmpy2==2.0.8
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.6
google-auth==1.23.0
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.16
grpcio==1.50.0
h5py==3.6.0
heapdict==1.0.1
hiredis==2.0.0
hmmlearn==0.2.6
holoviews==1.15.1
html5lib==1.1
httplib2==0.18.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
imbalanced-learn==0.8.0
importlib-metadata==5.0.0
intervaltree==3.0.2
ipykernel==5.3.2
ipython-genutils==0.2.0
ipython==7.16.1
ipywidgets==7.5.1
isort==4.3.21
isosurfaces==0.1.0
itsdangerous==1.1.0
jax==0.3.3
jdcal==1.4.1
jedi==0.17.1
jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-dash==0.4.0
jupyter-kite==1.1.0
jupyter==1.0.0
jupyterlab-server==1.2.0
jupyterlab==2.1.5
keras-preprocessing==1.1.2
keras==2.7.0
keyring==21.2.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
libclang==14.0.6
librosa==0.8.0
llvmlite==0.39.1
locket==0.2.0
lxml==4.5.2
mako==1.2.2
manimgl==1.5.0
manimpango==0.3.1
mapbox-earcut==1.0.0
markdown==3.4.1
markupsafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mne==1.1.1
moabb==0.4.6
mock==4.0.2
moderngl-window==2.4.1
moderngl==5.6.4
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.7
nbimporter==0.3.4
netcdf4==1.5.3
networkx==2.4
nltk==3.5
nose==1.3.7
notebook==6.0.3
numba==0.56.2
numexpr==2.7.1
numlet==2.0.0
numpy==1.22.3
numpydoc==1.1.0
oauth2client==4.1.3
oauthlib==3.2.2
objgraph==3.5.0
olefile==0.46
opencv-python==4.5.5.62
openpyxl==3.0.4
opt-einsum==3.3.0
osmpythontools==0.3.4
osqp==0.6.2.post0
overpy==0.6
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
panel==0.14.0
param==1.12.2
paramiko==2.7.1
parse==1.19.0
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pip==20.1.1
pkginfo==1.5.0.1
plotly==4.14.3
pluggy==0.13.1
plumbum==1.7.2
ply==3.11
pooch==1.6.0
powerlaw==1.4.6
prettytable==3.5.0
progressbar==2.5
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.7.0
pwntools==4.8.0
py-pcha==0.1.3
py4j==0.10.9
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.20.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pyct==0.4.8
pycurl==7.43.0.5
pydocstyle==5.0.2
pydot==1.4.1
pydrive==1.3.1
pydub==0.25.1
pyelftools==0.29
pyflakes==2.2.0
pygel3d==0.1.4
pyglet==1.5.21
pygments==2.6.1
pylint==2.5.3
pynacl==1.4.0
pynndescent==0.5.7
pyodbc==4.0.0-unsupported
pyopengl==3.1.5
pyopenssl==19.1.0
pyparsing==2.4.7
pyreadline==2.1
pyriemann==0.3
pyro-api==0.1.2
pyro-ppl==1.8.0
pyrr==0.10.3
pyrsistent==0.16.0
pyserial==3.5
pysocks==1.7.1
pyspark==3.0.1
pystan==2.19.1.1
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
python-louvain==0.14
python-utils==2.5.6
pytils==0.3
pytorch-ranger==0.1.1
pytz==2020.1
pyverse==1.0.0
pyviz-comms==2.2.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywin32==227
pywinpty==0.5.7
pyyaml-include==1.2
pyyaml==5.3.1
pyzmq==19.0.1
qdarkstyle==2.8.1
qdldl==0.1.5.post0
qtawesome==0.7.2
qtconsole==4.7.5
qtpy==1.9.0
redis==3.5.3
regex==2020.6.8
requests-oauthlib==1.3.1
requests==2.24.0
resampy==0.2.2
retrying==1.3.3
rich==11.2.0
rope==0.17.0
ropgadget==7.1
rpyc==5.2.3
rsa==4.6
rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==1.0.2
scipy==1.5.0
screeninfo==0.8
scs==2.1.4
seaborn==0.11.2
send2trash==1.5.0
sentry-sdk==1.5.8
setproctitle==1.2.2
setuptools==49.2.0.post20200714
shortuuid==1.0.8
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch==3.4.0.3
sip==4.19.13
siren-pytorch==0.0.9
six==1.15.0
skia-pathops==0.7.2
sklearn==0.0
skorch==0.11.0
smmap==5.0.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
sounddevice==0.4.2
soundfile==0.10.3.post1
soupsieve==2.0.1
sphinx==3.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.3
spyder-kernels==1.9.2
spyder==4.1.4
sqlalchemy==1.3.18
statsmodels==0.11.1
svgelements==1.6.9
sympy==1.6.1
tables==3.6.1
tabulate==0.8.10
tblib==1.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.1
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow==2.7.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.1
tools==0.1.9
toolz==0.10.0
torch-optimizer==0.1.0
torch==1.11.0
torchaudio==0.11.0
torchsummary==1.5.1
torchvision==0.12.0
tornado==6.0.4
tqdm==4.64.1
traitlets==4.3.3
typing-extensions==3.7.4.2
ujson==1.35
umap-learn==0.5.3
unicodecsv==0.14.1
unicorn==2.0.0
unix-ar==0.2.1
uritemplate==3.0.1
urllib3==1.25.9
validators==0.18.2
vit-pytorch==0.26.7
wandb==0.12.11
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wget==3.2
wheel==0.34.2
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.0
wrapt==1.11.2
xarray==0.19.0
xlrd==1.2.0
xlsxwriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.30.0
yaspin==2.1.0
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
zstandard==0.18.0